@import '../../styles.scss';

.input-container{
  padding: 8px;

  label{
    display: block;
  }

  input{
    border: none;
    width: 100%;
    border-bottom: 1px solid $primary-color;
  }
}

.btn{
  border-radius: 5px;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
  font-weight: bold;
  font-size: 12px;
}

.btn-google{
  background-color: #bb2f1f;
  color: white;
}

.google-link{
  color: #bb2f1f;
  margin: 8px auto;
  cursor: pointer;
  display: table;
}

.login-form{
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  overflow: hidden;
  width: 100vw;
  max-width: 400px;

  .form{
    &-header{
      background-color: $primary-color;
      color: white;
      text-align: center;
      padding: 15px;
      font-weight: bold;
    }

    &-body{
      padding: 15px;
      display: flex;
      justify-content: space-around;
      align-items: center;

      // & > * {
      //   flex: 1;
      // }
    }
  }

  .button-container{
    display: block;
    text-align: center;
    margin-top: 15px;
    
    .button{
      background-color: $second-color;
      border: none;
      padding: 8px 15px;
      color: white;
      text-transform: uppercase;
      min-width: 128px;
      cursor: pointer;
    }
  }

}

.toolbar{
  background-color: #1a1a1a;
}